#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#
#  you probably want to chmod 640 this file since it has your mysql password   #
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#

# nick for irc
nickname	=> 'gambito',

# 'real name'
ircname		=> 'BRASIL IS BEST LA~~~',

# irc server
server		=> 'irc.lolutah.com',

# some general output
verbose		=> '1',

# lots of output
extra_verbose	=> '1',

# channels to join
channels	=> ["#poebot"],

# mysql username
mysql_user	=> 'poebot',

# mysql password
mysql_pass	=> 'qw3rty',

# use tcp? if not, mysql_socket is used
mysql_use_tcp	=> '1',

# mysql host
mysql_host	=> 'localhost',

# mysql socket
mysql_socket	=> '/var/run/mysqld/mysqld.sock',

# mysql database
mysql_db	=> 'poebot',

# mysql table prefix
mysql_prefix	=> 'poebot'
